<li class="<%= 'active' if current_page?(event_path) %>">
	<%= link_to "View", event_path %>
</li>

<li class="<%= 'active' if current_page?(manage_path) %>">
	<%= link_to "Manage", manage_path %>
</li>

<li class="<%= 'active' if current_page?(edit_event_path) %>">
	<%= link_to "Edit", edit_event_path %>
</li>

<% if @event.status == 'Draft' %>
	<li>
		<%= link_to "Publish", publish_path %>
	</li>
<% end %>

<li>
	<%= link_to "Delete", {action: "destroy", id: @event }, method: :delete, data: { confirm: "Are you sure?"} %>
</li>