<%= render partial: 'shared/admin_nav', locals: {admin_links: 'single_event_admin_nav'} %>
<div class="centered">
	<h4><%= @event.invite_line %></h4>
	<h1><%= show_date(@event)[0] %></h1>
	<h2><%= show_date(@event)[1] %></h2>
	<h3><%= @event.open_seats %> seats left.</h3>
	<h3>$<%= '%.0f' % @event.price unless @event.price.nil?%>.</h3>
	<%= render 'rsvp_buttons' %>
</div>
<div class="row">
	<div class="col-md-6">
		<h4>The Clue</h4>
		<%= get_clue_url(@event.clue_url, 500, 300) %>
		<p><%= @event.clue_text %></p>
	</div>
	<div class="col-md-6">
		<h4>Details</h4>
		<div class="row">
			<div class="col-md-2"><label>Meet</label></div>
			<div class="col-md-6">
				<%= @event.location_name %><br>
				<%= @event.address1 %><br>
				<%= @event.address2 %>
				<%= "#{@event.city}, #{@event.state} #{@event.zip}" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"><label>Wear</label></div>
			<div class="col-md-6"><%= @event.attire %></div>
		</div>
		<% if !@event.what_to_bring.nil? %>
			<div class="row">
				<div class="col-md-2"><label>Bring</label></div>
				<div class="col-md-6"><%= @event.what_to_bring %></div>
			</div>
		<% end %>
		<% if !@event.warnings.nil? %>
			<div class="row">
				<div class="col-md-2"><label>Beware</label></div>
				<div class="col-md-6"><%= @event.warnings %></div>
			</div>
		<% end %>
		<% if !@event.notes.nil? %>
			<div class="row">
				<div class="col-md-2"><label>Note</label></div>
				<div class="col-md-6"><%= @event.notes %></div>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<h4>RSVP</h4>
	<%= render 'rsvp_buttons' %>
	<%= render partial: 'rsvp_list', locals: {rsvpers: @yeses, resp: "Yes"} %>
	<%= render partial: 'rsvp_list', locals: {rsvpers: @nos, resp: "No"} %>
</div>
