<!DOCTYPE html>
<html>
<head>
  <title>Old Salt Company</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container" id="wrap">
	<%= render '/layouts/heading' unless current_page?(root_path) %>
	<%= render 'shared/alerts' if current_page?(root_path) %>
	<%= yield %>
	
</div>
</body>
</html>
