<%= render partial: 'shared/admin_nav', locals: {admin_links: 'shared/all_members_admin_nav'} %>

<div class="table-responsive">
    <table class="table table-striped">
    	<thead>
    		<th>Full name</th>
    		<th>Role</th>
    		<th>Status</th>
    		<th>Email</th>
    		<th>Phone</th>
    		<th>Attended</th>
    		<th>Last login</th>
    		<th>Deactivate</th>
    		<th>Delete</th>
    	</thead>
    	<tbody>
    		<% @members.each do |m| %>
    			<tr>
    				<td><%= link_to m.full_name, member_path(m.id) %></td>
    				<td><%= m.role %></td>
    				<td><%= m.active_print %></td>
    				<td><%= m.email %></td>
    				<td><%= m.phone %></td>
    				<td><%= m.count_past_rsvps("Yes") %></td>
    				<!-- TODO: Add last login from sessions-->
    				<td><%= format_date(m.last_sign_in_at) %></td> 

    				<!-- TODO: Add deactivate code-->
    				<td><%= button_to "Deactivate", deactivate_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-md btn-default" %></td> 

    				<!-- TODO: Add delete functionality -->
    				<td><%= button_to "Delete", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-md btn-default" %></td>
    			</tr>
    		<% end %>
    	</tbody>
    </table>
